* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game-container {
  width: 400px;
  height: 400px;
  margin: 10px auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.btn {
  font-size: 24px;
  height: 25%;
  width: 25%;
  color: black;
}

.box {
  font-size: 1.5rem;
  height: 33%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: crimson;
}

.currentBox {
  background-color: #000;
  border: none;
  color: black;
}


#Modal-Win{

  width: 400px;
  position: fixed;
  top: 100px;
  left: 33.8%;
  height: 200px;
  background-color: #eaeaea;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  border: 1px solid #f00;
  display: none;
  transition: 1s;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);

}

.close {
  background-color: grey;
  border: none;
  padding: 2px 5px;
  color: #000;
  font-size: 1.25rem;
  cursor: pointer;
}

.close:hover {
  transform: scale(.95);
}

.info {
  text-align: center;
  padding: 20px;
}

h3 {
  color: #000;
  margin-bottom: 30px;
}

.info .close {
  background: linear-gradient(#fff, skyblue);
  padding: 5px 15px;
  font-weight: 500;
  border: 2px solid skyblue;
}